@import url(../fonts/fonts.css);

.page {
  margin: 0;
  background-color: #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: inter, sans-serif;
  color: #fff;
}

.header {
  margin: 45px auto 0;
  max-width: 880px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header__logo {
  width: 173px;
  height: 33px;
}

.header__line {
  margin-top: 41px;
  width: 100%;
  opacity: 0.7;
  border: 1px solid #545454;
}

.profile {
  margin: 40px auto 0;
  max-width: 880px;
  width: 100%;
  display: flex;
  align-items: center;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.info {
  max-width: 415px;
  margin: 0 165px 0 30px;
  display: grid;
  grid-template-areas: "title title title button" "subtitle subtitle subtitle subtitle";
  align-items: center;
  column-gap: 10px;
}

.info__title {
  grid-area: title;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin: 0;
}
.info__subtitle {
  grid-area: subtitle;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 16px 0;
}
.info__edit-button {
  grid-area: button;
  align-self: center;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.75s ease;
}

.button__add-button {
  max-width: 150px;
  width: 100%;
  min-width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #ffffff;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.75s ease;
}

.popup {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_opened {
  display: flex;
}

.popup__container {
  background-color: #fff;
  margin: 0;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 430px;
  height: 330px;
}

.popup__close-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 430px;
  top: -40px;
  width: 48px;
  height: 48px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.popup__title {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

.elements {
  max-width: 880px;
  margin: 45px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 17px;
}

.card {
  background-color: #fff;
  width: 282px;
  height: 361px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.card__image {
  grid-row: 1;
}

.card__details {
  grid-row: 2;
  max-width: 246px;
  display: grid;
  grid-template-columns: 95% 5%;
  align-items: center;
  justify-content: center;
}

.card__title {
  grid-column: 1;
  margin: 0 auto;
  max-width: 95%;
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  grid-column: 2;
  margin: 0 auto;
  width: 21px;
  height: 19px;
  background-image: url(../images/like-button.svg);
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: opacity 0.75s ease;
}

.card__like-button_active {
  background-image: url(../images/like-button_active.svg);
}

.footer {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

.footer__copyright {
  margin: 67px 0 60px;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}
@media screen {
  .info__edit-button:hover {
    opacity: 0.5;
  }

  .button__add-button:hover {
    opacity: 0.5;
  }

  .card__like-button:hover {
    opacity: 0.5;
  }
}

@media (max-width: 910px) and (min-width: 770px) {
  .header {
    max-width: 99%;
    margin: 35px auto 0;
  }
  .header__logo {
    margin-left: 13.5px;
    width: 149.5px;
    height: 28.5px;
  }

  .profile {
    width: 90%;
  }

  .info {
    margin-right: 65px;
  }

  .info__title {
    font-size: 32px;
    line-height: 37px;
  }

  .info__subtitle {
    font-size: 16px;
    line-height: 21px;
  }

  .info__edit-button {
    align-self: center;
    width: 21px;
    height: 21px;
  }

  .elements {
    max-width: 90%;
  }

  .footer__copyright {
    margin-left: 9.5px;
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 770px) and (min-width: 300px) {
  .header {
    max-width: 99%;
    margin: 35px auto 0;
  }
  .header__logo {
    margin-left: 27px;
    width: 126px;
    height: 24px;
  }

  .profile {
    width: 100%;
    flex-direction: column;
    row-gap: 33px;
  }

  .info {
    margin: 0 auto;
  }

  .info__title {
    font-size: 22px;
    line-height: 26px;
  }

  .info__subtitle {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }

  .info__edit-button {
    align-self: center;
    width: 18px;
    height: 18px;
  }

  .button__add-button {
    max-width: 282px;
  }

  .elements {
    max-width: 90%;
  }

  .footer__copyright {
    margin-left: 19px;
    font-size: 14px;
    list-style: 16px;
  }
}
