@import url(../fonts/fonts.css);

.page {
  margin: 0;
  background-color: #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: inter, sans-serif;
  color: #fff;
}

.header {
  margin: 45px auto 0;
  max-width: 880px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header__logo {
  width: 173px;
  height: 33px;
}

.header__line {
  margin-top: 41px;
  width: 100%;
  opacity: 0.7;
  border: 1px solid #545454;
}

.profile {
  margin: 40px auto 0;
  max-width: 880px;
  width: 100%;
  display: flex;
  align-items: center;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.info {
  max-width: 415px;
  margin: 0 165px 0 30px;
  display: grid;
  grid-template-areas: "title title title button" "subtitle subtitle subtitle .";
  align-items: center;
  column-gap: 10px;
}

.info__title {
  grid-area: title;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin: 0;
}
.info__subtitle {
  grid-area: subtitle;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 16px 0;
}
.info__edit-button {
  grid-area: button;
  margin-top: 12px;
  width: 24px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.75s ease;
}

.button__add-button {
  max-width: 150px;
  width: 100%;
  min-width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #ffffff;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.75s ease;
}

.elements {
  max-width: 880px;
  margin: 45px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 17px;
}

.card {
  background-color: #fff;
  width: 282px;
  height: 361px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.card__image {
  grid-row: 1;
}

.card__details {
  grid-row: 2;
  max-width: 246px;
  display: grid;
  grid-template-columns: 95% 5%;
  align-items: center;
  justify-content: center;
}

.card__title {
  grid-column: 1;
  margin: 0 auto;
  max-width: 95%;
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  grid-column: 2;
  margin: 0 auto;
  width: 21px;
  height: 19px;
  background-image: url(../images/like-button.svg);
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: opacity 0.75s ease;
}

.card__like-button_active {
  background-image: url(../images/like-button_active.svg);
}

.footer {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

.footer__copyright {
  margin: 67px 0 60px;
  color: #545454;
}
@media screen {
  .info__edit-button:hover {
    opacity: 0.5;
  }

  .button__add-button:hover {
    opacity: 0.5;
  }

  .card__like-button:hover {
    opacity: 0.5;
  }
}

@media (max-width: 910px) and (min-width: 300px) {
  .header {
    max-width: 99%;
    margin: 35px auto 0;
  }
  .header__logo {
    margin-left: 27px;
  }

  .elements {
    max-width: 90%;
  }
}
